<!-- wp:template-part {"slug":"header","tagName":"div","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
<!-- wp:group {"className":"section section--first","layout":{"type":"constrained"}} -->
<div class="wp-block-group section section--first"><!-- wp:post-date {"className":"eyebrow"} /-->

<!-- wp:post-title {"level":1,"className":"h1 h1--page"} /-->

<!-- wp:post-featured-image {"aspectRatio":"3/2","className":"r-3x2"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div","area":"footer"} /-->
